body{
    font-family:'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

#logo-img{
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.line{
    height: 2px;
    background: #639a00;
    width:100%;
}
#leftTopTxt{
    margin-top:15px;
    text-align: center;
     text-shadow: #345000 1px 0 10px;
    color:#fff;
    font-size:25px;
} 
#right-txt{
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    display: none;
}
#right-txt span{
    color: #639a00;
}

.view{
     background-image: url(../imgs/city-2.jpg);
    /*background-repeat: no-repeat;
    background-size: auto; */
    /* height: 1000px; */
       /* The image used */
    /* Set a specific height */
    height: 625px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

/*  Start Form Styles */
.formContainer{
    margin-top: 8px;
}
form{
    /* background: rgba(255, 255, 255, 0.5)!important; */
    background: #e4e4e4!important;

}

.form-parts{
    margin-top: 10px;
}

#submitBtn{
    font-weight: bold;
    color:#000;
    background: #85CE00;
    font-size:18px;
}

.formBtn:hover {
  transition : 0.3s;
  box-shadow : 0px 0px 1px 6px #0fdab1;
  cursor : pointer;
}

#secureImg{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom: 10px
}

#disclaim{
    margin-bottom: 0;
    padding-right: 15px;
    padding-left: 15px;
    color: #000;
    margin-top: 15px;
    font-size:10px;
}

/* End Form Styles */

/* Content After Form Styles  */
.content-afterform{
    margin-top: 100px;
    text-align:center;
    margin-bottom:25px;
}
.icons-top{
    color:#639900;
    font-size:40px;
    display: inline-block;
}
#three-bullets{
    margin-top:25px;
}
.startBtn{
    background: #639900;
    color: #fff!important;
    font-weight: bold;
}
.startBtn:hover{
    background: #85CE00;
    color: #000!important;
}
/* End Content After Form Styles  */


/* Start Of Scroll Section */

.sectionScroll{
    background-image: url(../imgs/ImgScroll.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.block-color{
    background: #000;
    margin-top: 20px;
    margin-bottom:20px;
    padding:15px;
}

/* END Of Scroll Section */

/* Start of info blocks */
.accordion-section .panel-default .panel-heading {
    border: 0;
    background: #eaeaea;
    padding: 0;
}

.panel-default:hover{
    cursor: pointer;
}

.panel-heading{
    color: #345000;
}

.panel-heading h3 {
    font-size: 1.25rem;
}



.panel-heading:hover{
    color: #639900
}

.btnToTop:hover{
    cursor: pointer;
}

/* End of info blocks */

/*   footer section */
/* section logo above footer */
#sectionFive{
    background-color: #e6e6e6;
   
}
/* footer */
#footerLogo{
    width:90%;
    margin:15px;
}
.lineFade{ 
    height:1px;
    background: #e4e4e4;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#e4e4e4), to(#e4e4e4), color-stop(50%, #639a00));
}
/*   end third section */
footer{
    background-color: #e6e6e6;
    color: black;
}

footer a{
    padding-right: 5px;
    padding-left: 5px;
    color: #000;
}
footer a:hover{
    color: #345000;
}

#altLinks{
    font-size: 14px;
    padding-bottom: 5px;
}

#copyRight{
    font-size: 12px;
}
/*   end footer section */

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
 
/* 
Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 420px) {  
     /* Form Styles */ 
    .view{
        height: 570px;
    }


    /* Content After Form Styles  */

}
 
 
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) { 
    /* Form Styles */ 
    .view{
        height: 550px;
    }
    .formContainer{
        margin-top: 18px;
    }


    /* Content After Form Styles  */

}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    /* Form Styles */
    #right-txt{
        display: block;
    }
    .formContainer{
        margin-top: 36px;
    }
    #leftTopTxt {
        margin-top: 36px;
    }

    
    /* Content After Form Styles  */

    #footerLogo{
        width:60%;
    }

}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* Form Styles */
     #leftTopTxt{
        font-size:30px;
    }
    .formContainer{
        margin-top: 50px;
    }

  

    
    /* Content After Form Styles  */
    #footerLogo{
        width:50%;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* Form Styles */ 
    .formContainer{
        margin-top: 60px;
    }

    
    /* Content After Form Styles  */

}
 
 
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}